<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>
        {{ $t('favorites.favorites') }}
      </v-toolbar-title>
    </v-toolbar>
      <v-container class="text-center fill-height mt-12">
        <template v-if="cities.length > 0">
          <v-row :class="$vuetify.breakpoint.xsOnly ? 'pl-10' : 'pl-3'">
          <span class="headline font-weight-light pb-3 text-left">
             {{ $tc('favorites.x_cities', cities.length === 1 ? 1 : 2, { number: cities.length }) }}
          </span>
        </v-row>
        <v-row>
          <v-divider
            inset
            :class="$vuetify.breakpoint.xsOnly
              ? 'ml-10 mr-10 mb-10'
              : 'ml-3 mr-3 mb-10'"
          ></v-divider>
        </v-row>
          <v-row
            justify="space-around"
          >
            <v-col
              v-for="(city, index) in cities"
              :key="index"
              cols="10"
              md="3"
            >
              <CityDetails
                :city="city"
              />
            </v-col>
          </v-row>
        </template>
        <template v-else>
          <v-row
            class="mt-12"
            align="center"
            justify="center"
          >
            <v-col
              cols=10
              md=6
            >
              <v-alert
                border="top"
                colored-border
                type="info"
                elevation="2"
              >
                {{ $t('favorites.info_message') }}
              </v-alert>
            </v-col>
          </v-row>
        </template>
      </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CityDetails from '@/components/CityDetails'

export default {
  name: 'Favorites',
  components: {
    CityDetails
  },
  data () {
    return {

    }
  },
  computed: {
    ...mapState('favorites', ['cities'])
  },
  methods: {
    viewForecastWeather (cityId) {
      this.$router.push({ name: 'Forecast', params: { cityId: cityId } })
    }
  }
}
</script>
