<template>
  <div>
    <v-toolbar>
      <v-toolbar-title
        class="hidden-sm-and-down"
      >
        {{ $t('forecast.forecast') }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on"
            :disabled="!city.id || isLoading"
            @click="selectCity(city.name)"
          >
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
        </template>
        <span> {{ $t('forecast.refresh') }}</span>
      </v-tooltip>
      <v-autocomplete
        v-model="city"
        :search-input.sync="searchQuery"
        :items="cities"
        :loading="isLoading"
        @change="selectCity(city.name)"
        item-text="name"
        return-object
        dense
        flat
        background-color="grey lighten-4"
        solo
        hide-details
        prepend-inner-icon="mdi-magnify"
        :label="$t('forecast.search')"
        class="mr-2"
      >
        <template v-slot:item="data">
          <template>
            <v-list-item-icon>
              <v-icon
                small
                :color="isFavorite(data.item.id)
                  ? 'yellow darken-2'
                  : ''"
                >
                  mdi-star
                </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-html="data.item.name"></v-list-item-title>
            </v-list-item-content>
          </template>
        </template>
      </v-autocomplete>
    </v-toolbar>

    <v-container
      class="fill-height pt-12"
    >
      <template
        v-if="city.id || $route.params.city"
      >
        <v-row
          align="center"
          justify="center"
          class="mb-10"
        >
          <ForecastDayDetails
            v-if="forecastDay"
            :celsiusTemperature="celsiusTemperature"
            :windInKm="windInKm"
            :forecastDay="forecastDay"
          />
        </v-row>
        <v-row :class="$vuetify.breakpoint.xsOnly ? 'pl-10' : 'pl-3'">
          <span class="headline font-weight-light pb-3 text-left">
             {{ $t('forecast.next_x_days', { number: 3 }) }}
          </span>
        </v-row>
        <v-row>
          <v-divider
            inset
            :class="$vuetify.breakpoint.xsOnly
              ? 'ml-10 mr-10 mb-10'
              : 'ml-3 mr-3 mb-10'"
          ></v-divider>
        </v-row>
        <v-row
          justify="space-around"
        >
          <v-col
            v-for="(forecastday, index) in forecastDays"
            :key="index"
            cols="10"
            md="4"
          >
            <ForecastDay
              v-if="forecastDays.length > 0"
              :celsiusTemperature="celsiusTemperature"
              :forecastDay="forecastday"
            />
          </v-col>
        </v-row>
      </template>
      <template v-else>
        <v-row
          class=" mt-12"
          align="center"
          justify="center"
        >
          <v-col
            cols=10
            md=7
          >
            <v-alert
              border="top"
              colored-border
              type="info"
              elevation="2"
            >
              {{ $t('forecast.info_message') }}
            </v-alert>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </div>
</template>

<script>
import ForecastDay from '@/components/ForecastDay'
import ForecastDayDetails from '@/components/ForecastDayDetails'
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import { debounce } from 'lodash'

export default {
  name: 'Forecast',
  components: {
    ForecastDayDetails,
    ForecastDay
  },
  data () {
    return {
      city: {},
      isLoading: false,
      searchQuery: null
    }
  },
  computed: {
    ...mapState(['cities', 'windInKm', 'celsiusTemperature', 'language']),
    ...mapState('favorites', { favoriteCities: 'cities' }),
    ...mapState('forecast', ['currentForecastDays']),
    ...mapGetters('favorites', ['isFavorite']),
    ...mapGetters('forecast', ['forecastDays', 'forecastDay'])
  },
  watch: {
    language (newVal) {
      if (this.city.name) { this.selectCity(this.city.name) }
    },
    searchQuery: debounce(async function (newVal) {
      try {
        if (newVal && newVal.length >= 3) {
          if (this.isLoading) return
          this.isLoading = true
          const { data } = await this.searchCity(newVal)
          this.isLoading = false
          this.SET_CITIES(data)
        }
      } catch (error) {
        console.error('Error when searching city: ', error)
      }
    }, 500)
  },
  created () {
    if (this.$route.params.cityId) {
      this.city = this.favoriteCities.find(city => city.id === parseInt(this.$route.params.cityId))
      this.selectCity(this.city.name)
    }
  },
  methods: {
    ...mapActions(['searchCity']),
    ...mapMutations(['SET_CITIES', 'SET_SNACKBAR']),
    ...mapMutations('favorites', {
      addToFavorites: 'ADD',
      deleteFromFavorites: 'DELETE'
    }),
    ...mapMutations('forecast', ['SET_CURRENT_FORECAST_DAYS']),
    ...mapActions('forecast', [
      'getForecastDays'
    ]),
    actionFavorite (city) {
      const snackbar = {
        timeout: 5000
      }
      if (this.isFavorite(city.id)) {
        this.deleteFromFavorites(city)
        snackbar.text = this.$t('favorites.removed_from_favorites')
      } else {
        this.addToFavorites(city)
        snackbar.text = this.$t('favorites.added_to_favorites')
      }
      this.SET_SNACKBAR(snackbar)
    },
    async selectCity (name) {
      try {
        const arg = {
          str: name,
          numberOfDays: 3
        }
        const { data } = await this.getForecastDays(arg)
        this.SET_CURRENT_FORECAST_DAYS(data)
      } catch (error) {
        console.error('Error search function', error)
      }
    }
  }
}
</script>

<style>
  .theme--light.v-list-item .v-list-item__mask {
    color: var(--v-primary-base);
    background: white;
  }
</style>
