<template>
  <v-container class="text-center fill-height">
    <v-row>
      <v-col>
        <h1 class="display-2 primary--text">{{ $t('page404.title')}}</h1>
        <p>{{ $t('page404.subtitle')}}</p>
        <v-btn outlined  color="primary" @click="goToHome">
          {{ $t('page404.button_text')}}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Page404',
  methods: {
    goToHome () {
      this.$router.push('forecast')
    }
  }
}
</script>
