<template functional>
  <v-hover>
    <template v-slot="{ hover }">
      <v-card
        class="pa-5 align-self-auto"
        :elevation="hover ? 24 : 6"
        @click="parent.viewForecastWeather(props.city.id)"
      >
        <div class="text-left headline font-regular">{{props.city.name.split(',')[0]}},</div>
        <div class="text-left title ">{{props.city.name.split(',')[1]}},</div>
        <div
          v-if="props.city.name.split(',')[2]"
          class="text-left subtitle-1"
        >
          {{props.city.name.split(',')[2]}}
        </div>
      </v-card>
    </template>
  </v-hover>
</template>

<script>
export default {
  name: 'CityDetails',
  props: {
    city: {
      type: Object,
      required: true
    }
  }
}
</script>
