<template functional>
  <v-card
    class="mx-auto elevation-5"
    width="350"
    min-width="320"
  >
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on"
            @click="parent.actionFavorite(parent.city)"
          >
            <v-icon :color="parent.isFavorite(parent.city.id) ? 'yellow darken-2': ''">mdi-star</v-icon>
          </v-btn>
        </template>
        <span v-if="!parent.isFavorite(parent.city.id)">{{parent.$t('favorites.add_to_favorites')}}</span>
        <span v-else>{{parent.$t('favorites.remove_from_favorites')}}</span>
      </v-tooltip>
    </v-card-actions>

    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="text-left headline font-regular">
          {{props.forecastDay.name}},
          {{props.forecastDay.country}}
        </v-list-item-title>
        <v-list-item-subtitle>
          {{parent.$date(props.forecastDay.localtime).format('DD/MM/YYYY')}}
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-text class="py-0">
      <v-row align="center" no-gutters>
        <v-col cols="7">
          <div v-if="props.celsiusTemperature">
            <div class="display-1">{{props.forecastDay.temp_c}}&deg;C</div>
            <div class="caption">
              {{parent.$t('forecast.feels_like')}}
              {{props.forecastDay.feelslike_c}}&deg;C
            </div>
          </div>
          <div v-else>
            <div class="display-1">{{props.forecastDay.temp_f}}&deg;F</div>
            <div class="caption">
              {{parent.$t('forecast.feels_like')}}
              {{props.forecastDay.feelslike_f}}&deg;F
            </div>
          </div>
        </v-col>
        <v-col cols="5">
          <v-img
            :src="props.forecastDay.condition.icon"
            alt="Sunny image"
            width="90"
          ></v-img>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <span class="text-center headline">
            {{props.forecastDay.condition.text}}
          </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" class="px-0">
          <v-list-item dense>
            <v-list-item-icon>
              <v-icon>mdi-send</v-icon>
            </v-list-item-icon>
            <v-list-item-subtitle>
              <span v-if="props.windInKm">{{props.forecastDay.wind_kph}} km/h</span>
              <span v-else>{{props.forecastDay.wind_mph}} m/h</span>
            </v-list-item-subtitle>
          </v-list-item>
        </v-col>
        <v-col cols="6" class="px-0">
          <v-list-item dense>
            <v-list-item-icon>
              <v-icon>mdi-cloud-download</v-icon>
            </v-list-item-icon>
            <v-list-item-subtitle>
              {{props.forecastDay.humidity}}%
            </v-list-item-subtitle>
          </v-list-item>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ForecastDayDetails',
  props: {
    forecastDay: {
      type: Object,
      required: true
    },
    celsiusTemperature: {
      type: Boolean,
      default: true
    },
    windInKm: {
      type: Boolean,
      default: true
    }
  }
}
</script>
