<template functional>
  <v-card
    class="mx-auto elevation-3"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-subtitle>
          <span class="text-capitalize">
            {{parent.$date(props.forecastDay.date).format('dddd') }}
          </span>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-text class="pt-0">
      <v-row align="center" no-gutters>
        <v-col cols="12">
          <v-img
            :src="props.forecastDay.day.condition.icon"
            alt="Condition image"
            width="45"
          ></v-img>
        </v-col>
        <v-col class="subtitle-1" cols="12">
          <template v-if="props.celsiusTemperature">
            <span class="title pr-3">{{props.forecastDay.day.maxtemp_c}}&deg;C</span>
            <span class="subtitle-2 grey--text">{{props.forecastDay.day.mintemp_c}}&deg;C </span>
          </template>
          <template v-else>
            <span class="title pr-3">{{props.forecastDay.day.maxtemp_f}}&deg;F</span>
            <span class="subtitle-2 grey--text">{{props.forecastDay.day.mintemp_f}}&deg;F </span>
          </template>
        </v-col>
        <v-col class="subtitle-1" cols="12">
          {{props.forecastDay.day.condition.text}}
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ForecastDay',
  props: {
    forecastDay: {
      type: Object,
      required: true
    },
    celsiusTemperature: {
      type: Boolean,
      default: true
    }
  }
}
</script>
