<template>
  <div id="app">
    <v-app id="inspire">
      <!-- Navigation menu -->
      <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
      >
        <v-list dense rounded>
          <template v-for="(menu, index) in menus">
            <v-list-item-group :key="index" color="primary">
              <v-list-item
                :key="index"
                :to="menu.route"
                exact
                link
              >
                <v-list-item-action>
                  <v-icon>{{ menu.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $t(menu.text) }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </template>
        </v-list>
      </v-navigation-drawer>

      <!-- Toolbar -->
      <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        color="blue darken-3"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title
          style="width: 300px"
          class="ml-0 pl-4"
        >
          <span class="hidden-sm-and-down">Weather app</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon class="ml-3" @click="dialogSettings = true">
          <v-icon >mdi-cog</v-icon>
        </v-btn>
        <v-menu offset-y bottom left>
        <template v-slot:activator="{ on }">
          <v-btn
            dark
            icon
            v-on="on"
          >
            <v-icon>mdi-google-translate</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            @click="SET_APP_LANGUAGE('fr')"
            :class="language === 'fr' ? 'activeLang' : ''"
          >
            <v-list-item-avatar class="mr-2">
              <img class="flagSvg" src="@/assets/fr_flag.svg">
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{$t('french')}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            @click="SET_APP_LANGUAGE('en')"
            :class="language === 'en' ? 'activeLang' : ''"
          >
            <v-list-item-avatar class="mr-2">
              <img class="flagSvg" src="@/assets/en_flag.svg">
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{$t('english')}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>

      </v-app-bar>

      <!-- App content -->
      <v-content>
        <transition
          name="fade"
          mode="out-in"
        >
          <router-view/>
        </transition>
      </v-content>

      <v-dialog
        v-model="dialogSettings"
        max-width="400"
      >
        <v-card>
          <v-card-title class="headline">{{$t('settings')}}</v-card-title>

          <v-card-text class="mt-8">
            <h3>{{$t('temperature')}}</h3>
            <v-radio-group v-model="celsiusTemperature" row>
              <v-radio label="Celsius" :value="true"></v-radio>
              <v-radio label="Fahrenheit " :value="false "></v-radio>
            </v-radio-group>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="grey darken-1"
              text
              @click="dialogSettings = false"
            >
              {{$t('close')}}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-snackbar
        v-model="showSnackbar"
        :color="snackbar.color"
        :timeout="snackbar.timeout"
        right
      >
        <span v-html="snackbar.text"></span>
      </v-snackbar>
    </v-app>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'App',
  props: {
    source: String
  },
  data  () {
    return {
      dialogSettings: false,
      drawer: null,
      menus: [
        {
          icon: 'mdi-home',
          text: 'forecast.forecast',
          route: '/forecast'
        },
        {
          icon: 'mdi-playlist-star',
          text: 'favorites.favorites',
          route: '/favorites'
        }
      ],
      showSnackbar: false,
      snackbar: {}
    }
  },
  computed: {
    ...mapState({ snck: 'snackbar', language: 'language' }),
    celsiusTemperature: {
      get () {
        return this.$store.state.celsiusTemperature
      },
      set (val) {
        this.SET_TYPE_OF_TEMPERATURE(val)
      }
    }
  },
  watch: {
    snck (newVal) {
      this.snackbar = newVal
      this.showSnackbar = true
    }
  },
  beforeMount () {
    if (!this.language) {
      let navigatorLanguage = window.navigator.userLanguage || window.navigator.language
      if (navigatorLanguage.includes('-')) {
        navigatorLanguage = navigatorLanguage.substring(0, navigatorLanguage.lastIndexOf('-'))
      }
      this.SET_APP_LANGUAGE(navigatorLanguage)
    } else {
      this.SET_APP_LANGUAGE(this.language)
    }
  },
  methods: {
    ...mapMutations(['SET_APP_LANGUAGE', 'SET_TYPE_OF_TEMPERATURE', 'SET_SNACKBAR'])
  }
}
</script>

<style>
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>

<style>
  .flagSvg {
    height: 30px !important;
  }
  .activeLang {
    background-color: #c5c5c5;
  }
</style>
